<div>
  <div class="nested-fields">
    <%#= f.label :SSC %><br>
    <%= f.text_field :SSC %>

    <br><%#= f.label :HSC %><br>
    <%= f.text_field :HSC %>

    <br><%#= f.label :graduation %><br>
    <%= f.text_field :graduation %>

    <br><%#= f.label :post_graduation %><br>
    <%= f.text_field :post_graduation %>
     
    <br><%= link_to_remove_association "Remove Education", f %>
</div>

