<h2 style="color:green;"> SIGN UP </h2>

<%= bootstrap_form_for @user do |f| %>
<div class="col-sm-5">    
  <p>
    <%#= f.label :name %><br>
    <%= f.text_field :name %>
  </p> 
  <p>
    <%#= f.label :email %><br>
    <%= f.email_field :email, label_class: "custom-class" %>
  </p>
  <p>
     <%#= f.label :password %><br>
     <%= f.password_field :password, help: "Must be at least 6 characters long" %>
  </p>
  <p>
     <%#= f.label :password_confirmation %><br>
     <%= f.password_field :password_confirmation, label: "Confirm Password" %> 
  </p>  
  </p>
     <%= f.submit "create my account", icon: "user" ,  class: "btn btn-primary btn-xs"%>
  </p>  
<% end %>
<%= link_to 'Back', login_path, class: "btn btn-primary btn-xs" %>
</div>