<h2>Edit post</h2>
<div> 
  <%= form_with(model: @post, remote: true) do |form| %>  
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p> 
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
    <p>
      <%= form.label :image%><br>
      <%= form.file_field :image %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
<%#= link_to 'Back', posts_path %>

