<table>
  <div class= "row">
  <tr>
    <th class="col-md-2">Title</th><br>
    <th class="col-md-2">Description</th>
    <th class="col-md-2">UserName </th>
    <th class="col-md-2">Image</th>
    <th colspan="4"></th>
  </tr>
  </div>
  <% @posts.each do |post| %>
    <tr class = "post-number-<%= post.id%>">
      <td><%= post.title %></td> 
      <td><%= post.description %></td>
      <td>
        <% p = post.user.profile %>
        <% if p %>
          <%= link_to post.user.name, profile_path(p)%>
        <% else %>
           <% link_to post.user.name, 'javascript:void(0);' %>
        <% end %>
     </td>
     <td><%= image_tag post.image.url, width: "100px", height: "100px" if post.image? %>
     </td> 
     <p class = "links">
     <td class="col-md-2"><%= link_to 'Show', post_path(post), class: "btn btn-primary btn-xs" %></td>            
     </p>
   </tr>
  <% end %>  
</table>
  