<h2 style="color:green;"> STUDENTS DETAILS </h2>

<%= form_tag(posts_path, method: :get) do %>		
  Post <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>	
  <tr>
    <th>TITLE</th><br>
    <br><th>DESCRIPTION</th>
    <th>USER NAME </th>
    <th>IMAGE</th>
    <th colspan="4"></th>
  </tr>
    
  <% @post.each do |post| %>
   <tr>
     <td><%= post.title %></td> 
     <td><%= post.description %></td>
     <td>
       <% p = post.user.profile %>
       <% if p %>
         <%= link_to post.user.name, profile_path(p)%>
       <% else %>
         <% link_to post.user.name, 'javascript:void(0);' %>
       <% end %>
     </td>
     <td><%= image_tag post.image.url, width: "50px", height: "50px" if post.image? %></td> 
     <td><%= link_to 'Show', post_path(post) %></td>            
   </tr>
  <% end %>  
</table>
<%= link_to 'back', users_path%>

<form>
  <input type = "button" value = "Print Page" onclick = "window.print()" />
</form>  