<h2 style="color:green">  MY POST </h2>

<% if @user.profile %>
  <%= link_to 'Profile', profile_path(current_user.profile)%>
<% else %>
  <%= link_to 'Profile', new_profile_path %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th colspan="4">Action</th>
  </tr>
  
  <% @post.each do |post| %>
    <tr class="post-row-<%= post.id %>">
      <%= render partial: 'post_row', locals: {post: post}%>
    </tr>
  <% end %>  
</table>
<div class="edit-comment-box">
  
</div>
<%= link_to 'Back', posts_path %>
