<!-- <p style= "color: blue; text-align: center;"> CURRENT USER:<%#=session[:user]["name"] %></p> -->
<h2 style="color:green">Create New Post</h2>

<%= form_for @post do |form| %>
  <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@post.errors.count, "error") %> Please fill correct details
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>   
  <p>
     <%= form.label :description %><br>
     <%= form.text_area :description %>
  </p>
  <p>
     <%= form.label :image %><br>
     <%= form.file_field :image %>
   </p>
   <p>
      <%= form.submit %>
    </p>
   
<%= link_to 'Back', posts_path %>  
<% end %>


