<!-- <p style= "color: blue; text-align: center;"> CURRENT USER:<%#=session[:user]["name"] %></p> -->
<h2 style="color:green"> AUTHOR NAME:<%= @post.user.name %> </h2>
  
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>image:</strong>
  <%if @post.image.url %>
  <%= link_to 'image', @post.image.url %>
  <%= image_tag(@post.image.url, width: "300px", height: "300px") %>
  <% end %>
</p>

<div class="like-unlike-box">
  <%= render partial: 'likes/like_unlike', locals: {post: @post}%>
</div>

<div class ="all-comments">
  <h2 style="color:red">comments</h2>
  <% @post.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: {comment: comment } %>
  <%end%>
</div>

<div class = 'user-comment'>  
  <%= render 'comments/form'%>
</div>

<%= link_to 'Back', posts_path %>